body {
	font-family: Cambria, sans-serif;
	background-color: #eaddca;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.container {
	width: 300px;
	max-width: 100%;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 5px #ccc;
}

.input-container {
	display: flex;
	align-items: center;
	max-width: 100%;
	margin-bottom: 15px;
	border: 1px solid #DAA06D;
	border-radius: 10px;
}

.input-container i {
	padding: 10px;
	background-color: #DAA06D;
	color: #fff;
	border-radius: 10px 0 0 10px;
}

input:focus{
	outline:none;
}

.input-container input[type="text"],
.input-container input[type="password"] {
	max-width: 100%;
	flex: 1;
	padding: 10px;
	border: none;
	border-radius: 0 10px 10px 0;
}

button {
	max-width: 150px; 
	width: 50%;
	padding: 10px;
	background-color: #DAA06D;
	color: #fff;
	border: none;
	border-radius: 100px;
	cursor: pointer;
}

/* Estilos para telas menores (dispositivos móveis) */
@media (max-width: 480px) {
	button {
		width: 85%;
	}
}
